<app-ng-template></app-ng-template>
<app-ng-container></app-ng-container>

<!-- NG CONTENT EXAMPLE -->
<app-ng-content>
  <h5 class="card-title">This is Title 1</h5>
  <a href="#" class="btn btn-primary">Go somewhere 1</a>
</app-ng-content>
<app-ng-content>
  <h5 class="card-title">This is Title 2</h5>
  <a href="#" class="btn btn-primary">Go somewhere 2</a>
</app-ng-content>
<app-ng-content>
  <h5 class="card-title">This is Title 3</h5>
  <a href="#" class="btn btn-primary">Go somewhere 3</a>
</app-ng-content>

<app-parent></app-parent>
